<h1>Celebrity Skills</h1>
<ul>
  <li *ngFor="let celeb of celebs;">{{celeb.name}}</li>
</ul>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Celebrity Name</th>
      <th>Sings</th>
      <th>Dances</th>
      <th>Acts</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let celeb of celebs; let i = index;" [appSuccess]="celeb.sing">
      <td>{{i + 1}}</td>
      <td>{{celeb.name}}</td>
      <td>{{celeb.sing | yesno}}</td>
      <td>{{celeb.dance | yesno}}</td>
      <td>{{celeb.act | yesno }}</td>
    </tr>
  </tbody>
</table>
